<!-- <nav>
  <ul>
    <li>
      <a routerLink="/main">Főoldal</a>
    </li>
    <li>
      <a routerLink="/employee">Dolgozók</a>
    </li>
    <li>
      <a routerLink="/assignment">Beosztások</a>
    </li>
  </ul>
</nav> -->


<nav class="navbar navbar-expand-sm navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kék Kft</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/main">Főoldal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee">Dolgozók</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assignment">Beosztások</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

